[submodule "pack/plugins/start/ferret"]
	path = pack/plugins/start/ferret
	url = git@github.com:wincent/ferret.git	
[submodule "pack/plugins/start/vim-gitgutter"]
	path = pack/plugins/start/vim-gitgutter
	url = https://github.com/airblade/vim-gitgutter
